:root {
    --colorA: #111;
    --colorB: #333;
    --colorC: #ccc;
    --colorD: #eee;
    --radius: 1rem;
}

#allContent {
    width: 70vw;
    display: flex;
    flex-direction: column;
    background: var(--colorD);
}

body {
    color: var(--colorA);
    background: repeating-linear-gradient(90deg, var(--colorB), var(--colorB) 6px, var(--colorC) 6px, var(--colorC) 12px);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.bordered {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.2rem solid var(--colorB);
    border-radius: var(--radius);
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav a {
    padding: 1rem;
    display: block;
    text-decoration: none;
}

a:hover {
    background: var(--colorC);
}

a,
button,
input {
    color: var(--colorB);
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
    padding: 1rem;
    display: block;
    text-decoration: none;
}

button:hover {
    background: var(--colorC);
}

#WritePostContainer,
#PagePicker {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pageNumber {
    width: 3em;
}