@model List<Guestbook.ViewModels.Entry>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form id="PagePicker">
        <a class="bordered" href=@Url.Action("Home", "Index", 0)>&laquo; previous</a>
        <input class="bordered" type="number" min="0" max="100" id="pageNumber" name="pageNumber">
        <button class="bordered" type="button">Go</button>
        <a class="bordered" href=@Url.Action("Home", "Index", 0)>next &raquo;</a>
    </form>
    @foreach (var entry in Model)
    {
        @entry.Name<br />
        @entry.Email<br />
        @entry.Comment<br />
        <br>
    }

    <div id="WritePostContainer">
        <button class="bordered" type="button">Write a post</button>
    </div>
</div>
