@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form id="PagePicker">
        <button class="bordered" type="button">&larr; previous</button>
        <input class="bordered" type="number" min="0" max="100" id="pageNumber" name="pageNumber">
        <button class="bordered" type="button">&rarr; next</button>
    </form>
    
    <div id="WritePostContainer">
        <button class="bordered" type="button">Write a post</button>
    </div>
</div>
