@model Guestbook.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form id="PagePicker">
        <a class="bordered" href=@Url.Action("Index", "Home", new { page = @Model.currentPage-1 })>&laquo; previous</a>
        <input class="bordered" type="number" min="0" max="@Model.pageCount" id="pageNumber" name="pageNumber">
        <button class="bordered" type="button">Go</button>
        <a class="bordered" href=@Url.Action("Index", "Home", new { page = @Model.currentPage+1 })>next &raquo;</a>
    </form>

    @foreach (var entry in Model.entries)
    {
        @await Html.PartialAsync("_Post", entry);
    }

    <div id="WritePostContainer">
        <button class="bordered" type="button">Write a post</button>
    </div>
</div>
