<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta author="pikuch" />
    <title>@ViewData["Title"] - Guestbook</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="allContent" class="bordered">
        <header class="bordered">
            <nav>
                <a id="firstMenuElement" class="bordered" asp-controller="Home" asp-action="Index">Home</a>
                <a class="bordered" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <partial name="_LoginPartial" />
            </nav>
        </header>

        <main class="bordered">
            @RenderBody()
        </main>

        <footer class="bordered">
            <div class="container">
                &copy; pikuch @DateTime.Now.Year
            </div>
        </footer>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
