@model Guestbook.ViewModels.Entry

<div id="postContainer" class="bordered">
    <div class="postName">@Model.Name</div>
    <div class="postEmail">@Model.Email</div>
    <div class="postComment">@Model.Comment</div>
</div>
